{% extends "base.html" %}

{% block title %}Dashboard | Tableau Embed App{% endblock %}

{% block content %}
<h2 class="mb-4">Dashboard</h2>

<div class="card shadow-sm">
  <div class="card-body">
    <!--
      REPLACE THE BLOCK BELOW with the embed code copied from
      Tableau Public -> Share -> Embed Code, for your DASHBOARD.

      A typical Tableau Public embed snippet looks like this:

      <div class='tableauPlaceholder' id='viz0000000000000' style='position: relative'>
        <noscript>
          <a href='#'>
            <img alt='Dashboard'
                 src='https://public.tableau.com/static/images/XX/XXXX/XXXX/1_rss.png'
                 style='border: none' />
          </a>
        </noscript>
        <object class='tableauViz' style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
          <param name='embed_code_version' value='3' />
          <param name='site_root' value='' />
          <param name='name' value='YourWorkbookName/YourDashboardName' />
          <param name='tabs' value='no' />
          <param name='toolbar' value='yes' />
          <param name='static_image'
                 value='https://public.tableau.com/static/images/XX/XXXX/XXXX/1.png' />
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='en-US' />
        </object>
      </div>
      <script type='text/javascript'>
        var divElement = document.getElementById('viz0000000000000');
        var vizElement = divElement.getElementsByTagName('object')[0];
        vizElement.style.width = '100%';
        vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
        vizElement.parentNode.insertBefore(scriptElement, vizElement);
      </script>
    -->

    <div class="tableauPlaceholder text-center text-muted py-5 border rounded" id="dashboardPlaceholder">
      <p class="mb-0">
        Paste your Tableau Public <strong>Dashboard</strong> embed code here,
        replacing this placeholder block in
        <code>templates/dashboard.html</code>.
      </p>
    </div>
  </div>
</div>
{% endblock %}
